<!DOCTYPE html>
<html lang="en" ng-app="Movie">
<head>
    <% include ../partials/head %>
</head>
<body class="body">
    <header>
        <% include ../partials/header %>
    </header>

    <main>
        <br>
        <br>
        <br>
        <br>
        <br>
        <div class="container">
            <div class="row">
                <div ng-controller="userLogin">
                    <div>
                        <form>
                            <div class="panel panel-default" style="width:400px;margin: auto;align-content: center">
                                <div class="panel-heading">
                                    <h3 class="panel-title">Đăng nhập</h3>
                                </div>
                                <div class="panel-body form-group">
                                    <label for="email">Email: </label>
                                    <input class="form-control" ng-model="email" type="text" name="email" placeholder="Nhập email đăng nhập" required>
                                </div>
                                <div class="panel-body form-group">
                                    <label for="password">Password: </label>
                                    <input class="form-control" ng-model="password" type="password" name="password" required>
                                </div>
                                <div class="panel-body">
                                    <div id="alertLogin" class="hide alert alert-danger" role="alert"><strong>Lỗi</strong>. Bạn nhập thiếu thông tin. Vui lòng kiểm tra lại</div>
                                </div>
                                <div class="panel-body form-group">
                                    <button id="btn-login" ng-click="userLogin()" class="btn btn-md btn-primary" style="float:right">Submit</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <footer>
        <% include ../partials/footer %>
        <script src="/javascripts/user/login.js"></script>
    </footer>
</body>
</html>