body.body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #eee;
}

button{
  border: 0px;
  background-color:#4267b2;
  border-radius: 10px;
}

.btn-color{
  color: white !important;
}

.btn-position{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

a {
  color: #00B7FF;
}

img.img-thumbnail.img-fluid{
  /* height: 400px; */
  margin-bottom: 10px;
}

/* HEAD */

/* HEADER */

.navbar-brand.navbar-img{
  padding: 0px;
}

.navbar-brand.navbar-img > img{
  width: auto;
  height: 50px;
  border-color: #e7e7e7;
}

.navbar-default .navbar-link{
  color: white !important; 
}

.navbar-default .navbar-nav>li>a{
  color: white !important;
}

button.user-action{
  height: 50px;
  width: 200px;
}

button.user-action.action-left > h4{
  word-spacing: -12px;
}

a.dropdown-toggle.navdrop{
  padding: 0px;
}

/* FOOTER */

/* LIST FILM */
a.film-display.col-xs-12.col-md-3 {
  color: black;
  margin-bottom: 10px;
  text-decoration: none;
  padding-bottom: 20px;
}

a.film-display.col-xs-12.col-md-3 > img.img-thumbnail.img-fluid {
  height: 300px;
}

a.film-display.col-xs-12.col-md-3 > img.img-thumbnail.img-fluid:hover{
  background-color: #f5f6f7;
  border: 1px solid black;
  /* height: 295px; */
}

a.film-display.col-xs-12.col-md-3 > h4{
  margin-top: 5px;
}

/* CREATE MOVIE */
a.btn-create-movie{
  color:white;
}

a.btn-create-movie:hover{
  color:white;
}


/* DETAIL PHIM */
div.contentMovieDetail{
  height: 200px !important;
}

.btnMovieDetail{
  display: block;
  position: absolute;
  right: 150px;
}

/* ĐĂNG KÍ ĐĂNG NHẬP */

.panel-body{
  padding: 10px!important;
  margin-bottom: 10px!important;
}


/* USER */

#userProfileBox {
  border: 2px solid #4267b2
}