<!DOCTYPE html>
<html lang="en" dir="ltr" ng-app="Movie">
  <head>
    <% include ../partials/head %>
  </head>

    <body class="body">
      <header>
          <% include ../partials/header %>
      </header>

      <main>
        <div class="container">
            <div ng-controller="namesCtrl">
              <h2 align='center'>List phim</h2>
              <ul>
                <a class="col-xs-12 col-md-4" ng-repeat="x in movieList" href="/">
                  <img class="img-thumbnail" src="https://static.cnews.fr/sites/default/files/default_images/default-thumbnail_0.jpg" alt="Error">
                  <p align='center'>Phim: {{x.name}}</p>
                </a>
              </ul>
            </div>
          </div>
      </main>

      <footer>
        <% include ../partials/footer %>
        <script src="/javascripts/movie/listMovie.js"></script>
      </footer>
    </body>
  </html>