<!DOCTYPE html>
<html lang="en" dir="ltr" ng-app="Movie">
  <head>
    <% include ../partials/head %>
  </head>

    <body class="body">
      <header>
          <% include ../partials/header %>
      </header>

      <main>
        <div class="container">
          <div class="jumbotron">
            <div class="row" ng-controller="namesCtrl">
              <a class="film-display col-xs-12 col-md-3" ng-repeat="x in movieList" href="/">
                <img class="img-thumbnail img-fluid" src="https://static.cnews.fr/sites/default/files/default_images/default-thumbnail_0.jpg" alt="Error">
                <h4 class="movie-name">{{x.name}}</h4>
                <h5 class="movie-kind">Thể Loại: {{x.kind}}</h5>
                <h5 class="movie-date">Khởi Chiếu: {{x.releaseDate | date:"dd-MM-yyyy"}}</h5>
              </a>
            </div>
          </div>
        </div>
      </main>

      <footer>
        <% include ../partials/footer %>
        <script src="/javascripts/movie/listMovie.js"></script>
      </footer>
    </body>
  </html>